ion-header {
  ion-title {
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 22px;
    font-weight: bold;
    color: black;
  }
}

.container-button {
  text-align: center;
  left: 0;
  right: 0;
  margin: 20px;
}
.container-text {
  margin: 20px;
}
