ion-slides {
    ion-slide {
      ion-label {
        ion-img::part(image) {
          border-radius: 10px;
          width: 100px;
          height: 100px;
        }
        .label-card {
          color: white;
          font-size: 10px;
        }
      }
    }
  }